@import "simplelightbox/dist/simple-lightbox.min.css";

.gallery{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
img{
    display: block;
    min-width: 100%;
    object-fit: cover;
}

.gallery-image{
    width: 360px;
    height: 200px;
}
